.ssDesktop {
    background-image: url('images/ace/student-stories-dev/input.jpg');
    background-size: cover;
    border: 1px solid rgb(88,88,90);
    border-bottom: 2px solid rgb(88,88,90);
}

.ccLeadContent {
    border: 0!important;
    color: rgb(88,88,90)!important;
    font-family: 'Lato', sans-serif;
}

.ccLead input {
    width: 83%!important;
    border: 2px solid black!important;
    margin-left: 30px;
    margin-right: 10px;
}

.chosen-container {
    border: 2px solid black!important;
    margin-left: 30px;
    margin-right: 10px;
}

html body #content #sidebar .chosen-container.chosen-container-single {
    width: 88%!important;
}

.ccLead form {
    margin: 0 !important;
}

#content #sidebar .ssButton {
    width: 86%!important;
    margin-left: 8%!important;
    border: 0!important;
    background-color: rgb(49,164,297)!important;
}

p.ccLeadSubmit {
    margin-top: 25px!important;
    margin-bottom: 0!important;
}

h2.ssHeadline {
    padding-top: 3%;
    padding-left: 15%;
    font-weight: normal;
    font-size: x-large;
    line-height: initial;
    margin-bottom: 0;
}

p.ssCopy {
    font-size: 15px;
    padding-left: 66px;
    margin-top: 17px!important;
}