div#content {
    width: 100%;
    margin-top: 0;
}

#side-nav {
    display: none;
}

#column-container-2 {
    width: 94%;
}

#content-wrapper {
    width:68%!important;
}

div#column-container-2 #sidebar {
    width: 21%!important;
}

.callout.sidebar-item.video-display {
    display: none;
}

#breadcrumbs {
    display: none;
}

.feat-objects {
    display: none
}

.preview-item {
    height: auto;
    width: 31%;
    display: inline-block;
    padding: 0;
    margin: 1%;
}

@media only screen and (min-width: 768px) {
    .left-btn {
        float: left;
        margin-left: 5%;
        margin-bottom: 4%!important;
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .left-btn img {
        width: 85%;
        margin: -40px 7% 20px 7%;
    }

    .nav-item.microsite-link-box {
        display: none;
    }

}

.ss-video-container {
    width: 100%;
    height: auto;
}

.ss-title {
    font-family: 'Lato';
    margin-bottom: 0;
}

h2.ss-subtitle {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 1.3em;
    margin-top: 5px;
    line-height: 1.3em;
}

.dots {
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-image: url('https://www.champlain.edu/images/ace/student-stories-dev/dots-01.png');
    background-repeat: repeat-x;
}

.ss-video-container:hover, .preview-item:hover {
    transform: scale(1.04);
    -ms-transform: scale(1.04);
    -webkit-transform: scale(1.04);
    box-shadow: 0 0 17px rgba(0, 169, 224, 0.35);
    cursor: pointer;
}